name: client
on: workflow_dispatch
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: wjmolina/dp-hackathon-2023@main
        with:
          path: package
          name: hello-world
          version: 1.0.0
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
